n8n-import/simple-chatbot-webhook.json
{
  "name": "Simple Chatbot Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0b924e89-3b07-4327-8d9b-413f56fe8683",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -480,
        -80
      ],
      "id": "1495482b-9d50-41eb-8f8e-03189713efc8",
      "name": "Webhook",
      "webhookId": "0b924e89-3b07-4327-8d9b-413f56fe8683"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        360,
        -80
      ],
      "id": "934e4745-4467-4c27-8d95-364c49ae0135",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.body }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "post_id",
                "value": "={{ $json.post_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        100,
        140
      ],
      "id": "a3caebaa-b55c-449a-aefb-84f50c261eed",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 5000,
        "chunkOverlap": 150
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        120,
        300
      ],
      "id": "34b38fab-0454-4864-9e71-e8898ae6024e",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -80,
        120
      ],
      "id": "f7c8393e-4076-4b5e-844a-b494366b9ee9",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "fPiYBFxhxuUArn4A",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -500,
        600
      ],
      "id": "ac99a34e-7f5a-4137-a1dd-de8a287d4409",
      "name": "When chat message received",
      "webhookId": "37e9fb20-43f9-4aad-abee-e466b879e5f8"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant. If the user asks you a question, you will always look up the company knowledge base and then provide your answer. After looking up the company knowledge base, you will first look for the answer in the conversation. Then if the answer is still unavailable, request the user to email admin@example.com.",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -300,
        600
      ],
      "id": "82224839-b53b-4c8b-bf84-ced4c313cd23",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -480,
        940
      ],
      "id": "bd153c57-6ef7-4a7d-aad3-42090b0dc7e6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "fPiYBFxhxuUArn4A",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -300,
        940
      ],
      "id": "06f9d01f-7548-4de7-ab18-cb8bff26f831",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -100,
        1160
      ],
      "id": "66b3df96-899f-4a19-9d32-5eebc3c1efea",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "fPiYBFxhxuUArn4A",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2357e44-b722-48fc-b67b-03ff16f95e90",
              "name": "body",
              "value": "={{ $json.body.data }}",
              "type": "string"
            },
            {
              "id": "f7b5c354-647d-4edd-8a89-72f734672f3e",
              "name": "post_id",
              "value": "={{ $json.body.post_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -280,
        -80
      ],
      "id": "79889992-0013-4c73-b371-e51d89e06241",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "# Webhook ingest to Postgres (vector)",
        "height": 620,
        "width": 1200,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -580,
        -180
      ],
      "typeVersion": 1,
      "id": "15b828af-d6de-4b3d-96da-61be3b806a20",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Chatbot with vector database",
        "height": 780,
        "width": 1200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -580,
        520
      ],
      "typeVersion": 1,
      "id": "9d91fe81-8a70-4f73-b083-1cb8cdfa60d8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "company_knowledge_base_lookup",
        "toolDescription": "Look up information in the company knowledge base",
        "tableName": "wp_vectors",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1,
      "position": [
        -100,
        960
      ],
      "id": "0382e71b-104b-4e5e-a76b-497862180fa4",
      "name": "Postgres Lookup",
      "credentials": {
        "postgres": {
          "id": "NqE8WQC2lujemB37",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "wp_vectors",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1,
      "position": [
        -80,
        -80
      ],
      "id": "4666b095-7b30-45e4-a754-a83d61f2ce44",
      "name": "Postgres Insert",
      "credentials": {
        "postgres": {
          "id": "NqE8WQC2lujemB37",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres Insert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Postgres Insert",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres Lookup",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Postgres Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Lookup": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Insert": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "703c20b9-7879-4629-ad5d-f84f0d3db0a7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ab6afa127a7b23130db6354e6660985410c61809b5b2a6d460cab8310f7e56d9"
  },
  "id": "xDewh23nPr19nOVL",
  "tags": []
}
